<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Store</title>
    <style>
      /* Add your internal CSS styling here */

      html {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: Arial, sans-serif;
        background-color: rgb(216, 209, 209);
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      header h1 {
        background-color: slateblue;
        border-radius: 30px;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        margin-top: 0;
        transition: background-color 0.3s;
      }

      h2,
      h4 {
        margin: 6px;
        color: rgb(6, 58, 110);
      }

      .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }

      .product-item {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 2, 0, 0.1);
        margin: 10px;
        padding: 20px 40px 20px 40px;

        max-width: 300px;
        display: flex;
        text-align: center;
      }

      .product-image {
        max-width: 100%;
        max-height: 200px;
      }

      .product-details p {
        margin: 0;
      }

      .product-actions {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      .edit-button,
      .delete-button {
        background-color: #007bff;
        color: #fff;
        padding: 8px 16px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        font-size: medium;
      }

      .edit-button:hover,
      .delete-button:hover {
        background-color: #0056b3;
      }

      .delete-button {
        background-color: #dc3545;
      }

      .add-button {
        display: inline-block;
        text-align: center;
        background-color: #28a745;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 20px auto;
        text-decoration: none;
        transition: background-color 0.3s;
      }

      .add-button:hover {
        background-color: #218838;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Get your desired products</h1>
    </header>

    <div class="product-list">
      <% products.forEach(function(product) { %>
      <div class="product-item">
        <img
          src="<%= product.image %>"
          alt="<%= product.title %>"
          class="product-image"
        />
        <div class="product-details">
          <h2><%= product.title %></h2>
          <h4>Vendor : <%= product.vendor %></h4>
          <h4>Rs. <%= product.price %></h4>
          <p><%= product.description %></p>

          <div
            style="display: flex; gap: 5px; margin-left: 5px; margin-top: 5px"
          >
            <a href="/editProduct/<%= product.id %>" class="edit-button"
              >Edit</a
            >

            <form
              method="get"
              action="/deleteProduct/<%= product.id %>"
              class="delete-form"
            >
              <button type="submit" class="delete-button">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <a href="/addProduct" class="add-button">Add New Product</a>

    <%- include('components/footer') %>
  </body>
</html>
